{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container mb-3">
  <form class="d-flex mt-3" method="get" action="/search_list">
    <input class="form-control me-2" type="search" name="slist" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-dark" type="submit">Search</button>
  </form>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Title</th>
      <th scope="col">Field</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{post.title}}</td>
      <td>{{post.fields}}</td>
      {% if request.user.is_staff %}
      <td><a href="{% url 'delete' post.id%}" class="btn btn-danger">Delete</a></td>
      {% else %}
      <td><a href="{{post.files.url}}" target="_blank" class="btn btn-success">View</a></td>
      {% endif %}

    </tr>
    {% endfor %}
    {% endblock %}